#note-content li{
        font-size: 18px;
        hyphens: auto;
}

#note-content p, dl{
        font-size: 18px;
        hyphens: auto;
}

.note-content h1, h2, h3, h4, h5, h6 {
        color: green;
}

#note-content pre{
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: var(--pre-color);
    border-radius: 6px
}

#note-content img{
    max-width: calc(1000px - (200px * 2));
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#note-content a {
        text-decoration: none;
        color: var(--tag-color);
}