<link href="/css/style.css" rel="stylesheet" />
<header class="home-header">
  <div class="home-div">

    <nav class="nav-title">
      <a class="link-text" href="{{ '/' | relative_url }}">Human learning</a>
    </nav>

    <nav class="nav-head">
      <a class="link-text" href="{{ '/contact.html' | relative_url }}">Contact</a>
    </nav>

    <nav class="nav-head">
      <a class="link-text" href="{{ '/notes.html' | relative_url }}">Notes</a>
    </nav>

    <nav class="nav-head">
      <a class="link-text" href="{{ '/about.html' | relative_url }}">About</a>
    </nav>

  </div>
</header>


