---
layout: default
---
<article style="padding: inherit" class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div style="margin-bottom: 16px">
    <h1 style="font-size: 30px" class="link-post">{{ page.title | escape }}</h1>
      {{ post.date | date: date_format }}

    <p style="margin-top: -20px; margin-bottom: -10px;" class="meta-post">
      <time style="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>

      <h3 style="margin-top: -20px; font-size: 17px; margin-bottom: -6px;">
        Tags:
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag    }}{% endcapture %}
            <a class="tag" href="/notes.html#{{ tag_name }}"><nobr>{{   tag_name   }}</nobr></a>
            {% if forloop.last == false %}|{% endif %}
        {% endfor %}
      </h3>
    </p>
  </div>

  <hr style="margin-bottom: 25px" />
  {{ post.post_description }}

  <div id="note-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
